header {
    background-color: var(--theme-primary-light);
    border-bottom: 2px solid var(--theme-primary);
    position: sticky;
    left: 0px;
    top: 0px;
    height: 40px;
    padding: 25px 20px 25px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;

    .header-actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-width: 150px;
        height: 100%;

        .separator {
            height: 100%;
            background-color: var(--font-color);
            width: 1.3px;
            margin: 20px;
        }
    }
}