.container {
    .enabled {
        color: var(--success-color);
    }
    
    .disabled {
        color: var(--error-color);
    }

    .page-header {
        display: flex;
        justify-content: space-between;

        .page-filter {
            width: 500px;
        }
    }

}
