@import 'variables';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: var(--font-color) }

h1 {
    font-weight: 600 !important;
    margin: 0 !important;
    margin-bottom: -8px !important;
}

h2 {
    color: var(--font-color-light) !important;
    font-weight: 400 !important;
    margin: 0 !important;
}

.text-centered {
    text-align: center !important;
}

.text-bold {
    font-weight: 600;
}

.w-100 {
    width: 100%;
}