@import "~@angular/material/theming";
@include mat-core();

$primary-palette: (
    50:  #ffca52,
    100: #ffbd4d,
    200: #ffab48,
    300: #ff9c46,
    400: #fa8241,
    500: #fa7e3b,
    600: #fc742c,
    700: #fd6f22,
    800: #fc691a,
    900: #ff630f,
    A100: #ffbd4d,
    A200: #ffab48,
    A400: #fa8241,
    A700: #fd6f22,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

$accent-palette: (
    50:  #c2c2c2,
    100: #99989B,
    200: #818181,
    300: #606060,
    400: #3c3c3c,
    500: #333333,
    600: #2c2c2c,
    700: #222222,
    800: #1b1b1b,
    900: #000000,
    A100: #99989B,
    A200: #818181,
    A400: #3c3c3c,
    A700: #222222,
    contrast: (
        50: white,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white,
    )
);

$my-custom-primary: mat-palette($primary-palette);
$my-custom-accent: mat-palette($accent-palette, 100, 500, A100);
$my-custom-warn: mat-palette($primary-palette);
$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);
@include angular-material-theme($my-custom-theme);

.mat-table {
    width: 100%;

    .mat-cell {
        color: var(--font-color);
    }

    .mat-sort-header.text-centered {
        .mat-sort-header-container {
            justify-content: center;
        }
    }

    .action-button {
        margin: 0px 10px;
        cursor: pointer;
    }
}

.mat-icon {
    color: var(--font-color-light);
}