:root {
    --theme-primary: #FA8341;
    --theme-primary-light: #FFE0CC;
    --theme-secondary: #9A9998;
    --font-color: #3d3d3d;
    --font-color-light: #909090;
    --success-color: #9afc6d;
    --error-color: #fe6c6c;
}